<h1>Tic-tac-toe</h1>

<div class="container">

  <div class="game">
    <h2 *ngIf="!appGameService.winner; else winner">Current player: {{appGameService.currentPlayer}}</h2>
    <ng-template #winner><h2>{{appGameService.winner}}</h2></ng-template>
    <app-board></app-board>
    <button class="btn" (click)="appGameService.reset()">Restart</button>
  </div>

  <div class="history">
    <h2>Current move {{appGameService.currentMove}}</h2>
    <button (click)="appGameService.isReverted = !appGameService.isReverted">Revert</button>
    <ul class="moves" *ngIf="!appGameService.isReverted; else reverted">
      <li
        *ngFor="let move of appGameService.history; let ind = index"
        (click)="appGameService.jumpTo(ind)"
      >
        <p>{{move.moveNumber}}. Player <strong>"{{move.player}}"</strong> Row # {{move.row}} column # {{move.column}}</p>
      </li>
    </ul>
    
    <ng-template #reverted>
      <ul class="moves">
        <li
          *ngFor="let move of appGameService.history | revert; let ind = index"
          (click)="appGameService.jumpTo(ind)"
        >
          <p>{{move.moveNumber}}. Player <strong>"{{move.player}}"</strong> Row # {{move.row}} column # {{move.column}}</p>
        </li>
      </ul>
      </ng-template>

  </div>

</div>
